<form method="post" action="{{ path('the_price_delete', {'id': the_price.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ the_price.id) }}">
    <button class="btn">Delete</button>
</form>
