{% extends 'base.html.twig' %}

{% block title %}Edit ThePrice{% endblock %}

{% block body %}
    <h1>Edit ThePrice</h1>

    {{ include('the_price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('the_price_index') }}">back to list</a>

    {{ include('the_price/_delete_form.html.twig') }}
{% endblock %}
