{% extends 'base.html.twig' %}

{% block title %}Réservation de salle{% endblock %}

{% block body %}
    <h1>Résultats de votre Réservation</h1>

    
   
        {{ data.salles.name }}


{% endblock %}
